* {
  background-color: transparent;
  font-family: "Ubuntu";
  text-decoration: none;
  color: #1c1c1e;
}

.container {
  width: 1300px;
  position: relative;
  left: calc(50% - 1300px / 2);
}

/* HEADER STYLES */
header {
  display: flex;
  position: relative;
  top: 0;
  height: 64px;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0px;
  gap: 40px;
}

.hamburger-menu {
  display: none;
}

header > .title > a {
  font-weight: 700;
  font-size: 24px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #b4387a;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 437px;
  letter-spacing: 0.02em;
  list-style: none;
}

.url-style {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: #1d1929;
}

.url-style:hover {
  color: #b2a35f;
  cursor: pointer;
}

.btn-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: fit-content;
  height: 50px;
  background: #003cff;
  border: 0;
  border-radius: 16px;
}

.btn-main:hover {
  background-color: #7796c0;
  cursor: pointer;
}

.btn-main > .url-style {
  margin-top: 10px;
  background-color: transparent;
  color: white;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  margin-left: 7px;
  margin-right: 7px;
}

@media (max-width: 900px) {
  .container {
    width: 550px;
    left: calc(50% - 550px / 2);
    vertical-align: baseline;
  }

  .btn-main {
    margin-top: 14px;
  }

  .nav-menu {
    display: none;
  }
}

@media (max-width: 550px) {
  .container {
    width: 350px;
    left: calc(50% - 350px / 2);
    vertical-align: baseline;
  }

  header {
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }

  .btn-main {
    margin-left: 40px;
  }

  .btn-main > .url-style {
    margin-top: 10px;
    width: 90px;
    font-size: 14px;
  }

  .nav-menu {
    display: none;
  }
}
/* HEADER STYLES */

.welcome-section,
.our-plus-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.container > section {
  margin-top: 132px;
  margin-bottom: 112px;
}

.left-side > .title {
  width: 622px;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
}

.credit-card-collage {
  width: fit-content;
  height: 314.78px;
  display: grid;
  grid-template-columns: 252px 252px;
  grid-template-rows: 150px 150px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.card {
  width: 252px;
  height: 150px;
}

.card-mobile {
  display: none;
}

@media (max-width: 900px) {
  .container > .welcome-section {
    display: block;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .left-side {
    width: 80%;
    margin-bottom: 40px;
  }

  .left-side > .title {
    width: 60vw;
  }
  .credit-card-collage {
    grid-template-columns: 252px 252px;
    grid-template-rows: auto auto;
    grid-column-gap: 46px;
    grid-row-gap: 46px;
  }

  .card {
    width: 252px;
    min-width: 200px;
    height: auto;
  }
}

@media (max-width: 550px) {
  .card-mobile {
    display: contents;
  }

  .card-mobile > .card {
    width: 350px;
  }

  .credit-card-collage {
    display: none;
  }

  .left-side > .title {
    width: 350px;
    font-size: 32px;
    line-height: 38px;
  }

  .left-side > .btn-main {
    margin: 0;
  }

  .left-side > .btn-main > a {
    align-items: left;
    width: 310px;
  }
}
/* SECTIONS 1 */

/* SECTION 2 */
.our-plus-block {
  float: left;
  text-align: left;
}

.our-plus-block > .title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
}

.plus-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  list-style: none;
  padding-left: 0;
}

.plus-list > li {
  color: #4f5665;
  padding-left: 40px;
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
  background-position: left center;
}

@media (max-width: 900px) {
  .container > .our-plus-section {
    display: block;
    margin-top: 50px;
    height: fit-content;
  }

  .our-plus-section > img {
    height: 40vw;
    margin: 0;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
/* SECTION 2 */

/* SECTION 3 */
.container > .section-course {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 132px;
}

.course-currencies {
  width: 100%;
  height: 366px;
  background: linear-gradient(
      358.2deg,
      rgba(178, 178, 178, 0.8) 8.06%,
      rgba(178, 178, 178, 0) 67.93%
    ),
    rgba(244, 244, 244, 0.9);
  mix-blend-mode: normal;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08),
    0px 2px 4px rgba(187, 187, 187, 0.2);
  border-radius: 28px;
  padding: 32px;
}

.left-info-block {
  float: left;
  background-color: transparent;
}

.left-info-block > .title {
  font-size: 30px;
  text-align: left;
  margin: 0;
}

.left-info-block > h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  margin-top: 24px;
}

.left-info-block > h6:last-child > .url-style {
  color: #fff;
  margin-bottom: 32px;
}

.left-info-block > h6:last-child > .url-style:hover {
  color: #b2a35f;
  cursor: pointer;
}

.right-info-block {
  float: right;
  background-color: transparent;
  display: block;
}

.right-info-block > img {
  margin-top: 80px;
  background-color: transparent;
  float: right;
}

.text-data-info > .light-text {
  float: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
}

.course-info {
  width: 456px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
}

.course-card {
  width: 100px;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  margin-right: 32px;
  margin-bottom: 32px;
}

.course-card > .currencies {
  display: flex;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #808080;
}

.course-card > .price-course {
  display: flex;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-left: 20px;
}

@media (max-width: 950px) {
  .container > .section-course {
    width: 60vw;
    min-width: 350px;
    max-height: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 60px;
  }

  .course-currencies {
    display: block;
    margin-bottom: 0px;
    height: fit-content;
    margin-bottom: 40px;
    position: relative;
  }

  .left-info-block {
    width: 100%;
    margin-bottom: 0px;
  }

  .left-info-block > h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 0px;
    margin-top: 24px;
  }

  .right-info-block {
    width: 100%;
  }

  .right-info-block > .text-data-info {
    float: left;
  }

  .mobile-display {
    display: none;
  }

  .course-info {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
  }

  .course-card {
    width: 60px;
    margin-bottom: 20px;
  }

  .course-card > .currencies,
  .course-card > .price-course {
    font-size: 14px;
  }

  .light-text {
    padding-top: 0px;
  }
}
/* SECTION 3 */

/* SECTION 4 */
.map-section > .title-block > .title {
  text-align: center;
  font-size: 30px;
  position: relative;
  margin-top: -68px;
}

.map-section > .title-block > .light-text {
  text-align: center;
}

.map {
  width: 1060px;
  height: 537.77px;
  margin-top: 48px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .container > .map-section {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .map {
    width: 100%;
    min-width: 350px;
    height: auto;
    margin-top: 50px;
  }
}
/* SECTION 4 */

/* SECTION 5 */
.section-form {
  position: relative;
  align-items: center;
  margin-top: 132px;
  margin-bottom: 112px;
  text-align: center;
}

.text-block-contacts > .title {
  line-height: 147.4%;
  font-size: 24px;
  color: #eb801d;
  margin-bottom: 30px;
}

.text-block-contacts > .title:nth-child(2) {
  font-weight: 700;
  color: #1c1c1e;
  font-size: 30px;
  line-height: 147.4%;
  margin-bottom: 30px;
}

.section-form > .form-box > .title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 167%;
  margin-bottom: 20px;
}

.form-subscribe-block {
  width: 524px;
  height: 70px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  vertical-align: baseline;
  padding-top: 30px;
}

.form-subscribe-block > img {
  height: 38px;
  width: 28px;
  margin-left: 32px;
}

.form-subscribe-block > input {
  height: 38px;
  width: 260px;
  background-color: transparent;
  border: 0;
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #9092b0;
}

.subscribe-btn {
  width: 164px;
  height: 44px;
  background: #686df1;
  border-radius: 20px;
  border: 0;
  vertical-align: middle;
  display: grid;
  grid-template-rows: 22px;
  cursor: pointer;
}

.subscribe-btn > img {
  height: 24px;
  width: 22px;
  background: #ffffff;
  display: grid;
  grid-row: 1;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 8px;
}

.subscribe-btn > p {
  width: 96px;

  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  display: grid;
  grid-row: 1;
  margin: 0;
  margin-top: 12px;
  margin-right: 12px;
}

@media (max-width: 550px) {
  .container > .section-form {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .form-subscribe-block {
    min-width: 350px;
    width: 90vw;
    height: 60px;
    padding-top: 14px;
    margin-top: 10px;
  }

  .form-subscribe-block > input {
    width: 150px;
  }

  .form-subscribe-block > img {
    margin-left: 12px;
  }

  .form-subscribe-block > .subscribe-btn {
    margin-right: 12px;
  }

  .form-subscribe-block > .subscribe-btn > img {
    display: none;
  }

  .form-subscribe-block > .subscribe-btn > p {
    margin-left: 17px;
    box-sizing: border-box;
  }
}
/* SECTION 5 */

/* FOOTER */
footer {
  position: relative;
  width: 100%;
  height: fit-content;
  left: 0;
  bottom: 0;
  background: linear-gradient(
      0deg,
      rgba(178, 178, 178, 0.2),
      rgba(178, 178, 178, 0.2)
    ),
    #f4f4f4 !important;
  overflow-x: none;
  padding-top: 96px;
  padding-bottom: 92px;
}

.container > .contacts {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

.logo {
  width: 158px;
  height: 50px;
  background-color: transparent;
}

.info-for-you {
  background-color: transparent;
  margin-bottom: 32px;
}

hr {
  width: 1300px;
  position: relative;
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.81);
  transform: rotate(179.82deg);
}

.footer-link-menu > .nav-menu {
  position: relative;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 8px;
  letter-spacing: 0.02em;
  padding-left: 0;
  width: 100%;
}

.footer-link-menu > .nav-menu > li,
.footer-link-menu > .nav-menu > .url-style {
  float: left;
  margin-right: 40px;
  font-size: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
  line-height: 147.4%;
  font-weight: 500;
}

.text {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  margin-bottom: 92px;
}

@media (max-width: 500px) {
  footer {
    padding-top: 36px;
    padding-bottom: 22px;
    margin-top: 20px;
  }

  .logo {
    width: 100px;
    height: 30px;
  }

  .contacts {
    width: calc(100vw - 10vw);
    height: fit-content;
  }

  .contacts > a,
  h3 {
    margin-top: 4px;
    margin-bottom: 10px;
  }

  hr {
    width: 90vw;
  }

  .footer-link-menu > .nav-menu {
    display: contents;
    font-size: 12px;
    column-gap: 10px;
    row-gap: 10px;
  }

  .text {
    font-size: 12px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  footer {
    width: 100vw;
    padding-top: 36px;
    padding-bottom: 22px;
    margin-top: 20px;
  }

  footer > .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo {
    width: 100px;
    height: 30px;
  }

  .container > .contacts {
    width: 90%;
    min-width: 350px;
    height: fit-content;
  }

  .container > .contacts > a,
  h3 {
    margin-top: 4px;
    margin-bottom: 10px;
  }

  .container > hr {
    width: 98%;
  }

  .container > .footer-link-menu > .nav-menu {
    display: contents;
    width: 92%;
    font-size: 12px;
    column-gap: 10px;
    row-gap: 10px;
  }

  .container > .text {
    font-size: 12px;
  }
}
/* FOOTER */
